.wln-header {
  width: 100%;
  height: auto;
  background: #1c1c1c;
  padding: 0 20px;
  box-sizing: border-box;
}

.wln-header-content {
  max-width: 1280px;
  min-height: 120px;
  height: auto;
  padding: 20px 0px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.wln-header-content a {
  color: #fff;
  text-decoration: none;
  width: 300px;
  margin-top: 20px;
  float: left;
}

@media screen and (max-width: 500px) {
  .wln-header-content {
    max-width: 1280px;
    min-height: 0;
  }

  .wln-header-content a {
    width: 150px;
    margin-top: 5px;
  }
}